.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/build/
/src/assets/build
*.pyc
# 忽略 Mods 目录下所有内容，但保留每个子目录下的 modConfig.json
/src/assets/Mods/**
!/src/assets/Mods/**/
!/src/assets/Mods/*/modConfig.json
/game_path_config.json
src/assets/game_path_config.json
